{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/juggling-trick" method="post">


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="date-learned-to-juggle-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                When was your passport issued?
              </h1>
            </legend>
            <div id="date-learned-to-juggle-hint" class="govuk-hint">
              For example, 12 11 2007
            </div>
            <div class="govuk-date-input" id="date-learned-to-juggle">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-learned-to-juggle-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-learned-to-juggle-day" name="date-learned-to-juggle-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-learned-to-juggle-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-learned-to-juggle-month" name="date-learned-to-juggle-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-learned-to-juggle-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-learned-to-juggle-year" name="date-learned-to-juggle-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
            </div>

          </fieldset>

        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

      </div>
    </div>


{% endblock %}
